html, body {
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #111111;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

a, a:visited{
    color: #fff;
}

a:hover, a:active {
    color: #ffb400;
}

#mainContainer {
    height: 100%;
    min-height: 100%;
}

.bg-block {
    position: fixed;
    z-index: -1;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -85%;
    top: -50%;
    background-color: #ffb400;
}

.mainPage {
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#mainFoto img {
    width: 75%;
    height: auto;
    margin: auto;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(17,17,17,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(17,17,17,1);
    box-shadow: 0px 0px 10px 0px rgba(17,17,17,1);
}

.mainPage div div.row {
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#mainFoto {
    text-align: center;
}


#mainMenu {
    text-align: right;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 3vw;
}


.color-text {
    color: #ffb400;
}

.cv-date {
    color: #ffb400;
    font-weight: bold;
}

.btn-color {
    background-color: #ffb400;
    border-radius: 26px;
    text-transform: uppercase;
    color: #fff;
    padding: 13px 26px;
    font-weight: 700;
}

.menu-item {
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #2b2a2a;
    justify-content: center;
}

.menu-item-active {
    background-color: #ffb400;

}