@media (min-width: 768px) and (max-width: 991px) {
    .footer-widget img {
        width: 30%;
    }
}

@media (max-width: 767px) {
    .mainPage {
        height: auto;
        padding-top: 10vh;
    }

    #mainFoto {
        width: 100%;
        min-width: 100%;
    }

    #mainFoto img {
        margin: 3vh auto;
    }

    .bg-block {
        position: fixed;
        z-index: -1;
        height: 200%;
        width: 100%;
        transform: rotate(-65deg);
        left: -85%;
        top: 0%;
        background-color: #ffb400;
    }

    #welcome {
        padding-top: 6vh;
    }

    /* Menu goes to top in mobile version */
    body {
        padding-top: 10vh;
    }

    #mainMenu {
        position: fixed;
        top: 5vh;
        left: 0;
        background-color: #111111;
    }

    .col-10 {
        width: 100%;
    }

    .menu {
        text-align: center;
        padding: 6vh 0 0 0;
    }

    .menu-item {
        width: 50px;
        height: 50px;
        list-style: none;
        position: relative;
        display: inline-flex;
        align-items: center;
        transition: .3s;
        margin: 20px 0;
        border-radius: 50%;
        background: #2b2a2a;
        justify-content: center;
    }

    .menu-item-active {
        background-color: #ffb400;
    }

    /* Projects */

    .project-window {
        width: 80%;
        height: 70%;
        padding: 3vh 5vw;
        position: fixed;
        top: 20%;
        left: 10%;
        border-radius: 10px;
        border: 1px solid #ccc;
        background-color: #111;
    }

    .project-window-close {
        position: absolute;
        right: 5vw;
        top: 3vh;
        cursor: pointer;
    }

    /* Contact */
    
    .contact-list {
        list-style-type: none;
        font-size: 1.1em;
        margin-top: 10vh;
        padding-left: 0;
    }
}